<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ユーザー登録</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="login_body">
	
	<div class="container">
		
	<form th:action="@{/register}" th:object="${registerForm}" method="post" class="regi_form">
		<h1 class="register_h1">ユーザ登録</h1>
	 <div class="form_group">
	 	<label for="username">ユーザ名（半角英字）</label>
	 	<input type="text" id="username" th:field="*{username}" required>
		<p class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;"></p>
	 </div>
	 
	 <div class="form_group">
	    <label for="password">パスワード（半角英数字）</label>
	    <input type="password" id="password" th:field="*{password}" required>
		<p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></p>
	 </div>
	 
	  <button type="submit" class="btn-login-newsubmit">登録</button>
	  <div class="back-link">
	  	            <a th:href="@{/login}">ログインはこちら</a>
	  	        </div>
  </form>
	
	</div>
</body>

</html>